@import '../kitchen/kitchen-list.component.scss';

.chip-sold {
  margin-left: .5rem;
  padding: .1rem .4rem;
  border-radius: .4rem;
  background: #e0f2f1;
  color: #00695c;
  font-size: .8rem;
  font-weight: 700;
}
